.wrapper {
    border: solid var(--loader-inner);
    border-top: solid var(--icon-active);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.size-xs {
    width: 16px;
    height: 16px;
    border-width: 4px;
}

.size-sm {
    width: 24px;
    height: 24px;
    border-width: 4px;
}

.size-md {
    width: 32px;
    height: 32px;
    border-width: 4px;
}

.size-xl {
    width: 60px;
    height: 60px;
    border-width: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}