.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.horizontal {
    flex-direction: row;
}

.formats {
    display: flex;
    font-weight: 600;
    flex-wrap: wrap;
    gap: 5px;
}

.icon {
    width: 24px;
    height: 24px;
    fill: var(--font-light);
    cursor: pointer;
}

.settings-icon {
    margin-left: auto;
}
