.wrapper {
    display: flex;
    width: 100%;
}

.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
