.wrapper {
    display: flex;
    flex-direction: column;
    font-size: var(--font-md);
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actions-wrapper {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.info-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: var(--font-xl);
    font-weight: 500;
}

.content-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

@media (max-width: 576px) {
    .actions-wrapper {
        flex-direction: column;
    }
}

