.wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.loader-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.device-card-wrapper {
    width: 200px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, min(100%/1, max(200px, 100%/6))));
    grid-gap: 10px;
}

.error {
    display: flex;
    width: 100;
    color: var(--font-dark);
    font-size: var(--font-xl);
    font-weight: 500;
    text-transform: capitalize;
    justify-content: center;
}

@media (max-width: 576px) {
    .device-card-wrapper {
        height: 200px;
        width: 100%;
    }

    .device-cards {
        display: flex;
        flex-direction: column;
    }
}
