.wrapper {
    display: flex;
    background-color: var(--background);
    padding: 16px;
    justify-content: center;
}

.icons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.icon svg {
    width: 32px;
    height: 32px;
}

.icon svg path {
    transition: fill .3s ease;
}

.active svg path {
    fill: var(--icon-active);
}

@media (min-width: 576px) {
    .icons-wrapper {
        width: 500px;
    }
}
