.wrapper {
    display: flex;
    background-color: var(--navabr-background);
    padding: 16px;
    justify-content: space-evenly;
}

.icon svg {
    width: 32px;
    height: 32px;
}

.icon svg path {
    transition: fill .3s ease;
    fill: var(--font-light);
}

.active svg path {
    fill: var(--icon-active);
}
